body {
    background-color: darkslateblue;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-button {
    width: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 9px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 8px;
    text-align: center;
}