body {
    background-color: darkslateblue;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

/*.sidebar-button {*/
/*    width: 120px;*/
/*    background-color: rgba(0, 0, 0, 0.3);*/
/*    color: white;*/
/*    border-radius: 9px;*/
/*    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
/*    backdrop-filter: blur(6px);*/
/*    -webkit-backdrop-filter: blur(6px);*/
/*    border: 1px solid rgba(255, 255, 255, 0.2);*/
/*    padding: 8px;*/
/*    text-align: center;*/
/*}*/


.sidebar-button {
    --b: 3px;
    --s: .45em;
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.sidebar-button:hover,
.sidebar-button:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.sidebar-button:active {
    background: var(--color);
    color: #fff;
}