body {
    background-color: darkslateblue;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-button {
    width: 120px;
    background-color: aqua;
    text-align: center;
}